.Navbar {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 600;
  margin: 0;
  position: sticky;
  left: 0;
  top: 0;
  align-items: center;
  opacity: 80%;
}

.Navbar .container-navbar {
  width: 100%;
  height: 100%;
  background-color: rgb(6, 59, 104);
  display: flex;
  align-items: center;
  padding: 10% 0;
  flex-direction: column;
}

.Navbar .container-navbar .brand {
  color: white;
  font-size: 3em;
  color: white;
}

.Navbar .container-navbar .menu {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Navbar .container-navbar .menu .menu-components {
  text-decoration: none;
  list-style: none;
  font-size: 14pt;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.Navbar .container-navbar .menu .menu-components .sub-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Navbar .container-navbar .menu .menu-components .sub-menu:hover {
  text-decoration: none;
  color: khaki;
}

.Navbar .container-navbar .logout {
  width: 150px;
  padding: 10px 0;
  margin-top: 30px;
  background-color: rgb(212, 28, 21);
  color: white;
}
